---
layout: default
---


<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}  <span class="trails">»</span> </span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="chip-tag">
          <span class="chip-tag-text">
            {{ post.tag }}
          </span>
        </span>

      </li>
    {% endfor %}
  </ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">(Previous)</a>
  {% else %}
    <span></span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">(Next)</a>
  {% else %}
    <span></span>
  {% endif %}
</div>
</div>
