{% include head.html %}

<div id="bump">
  <body class="">
    <header class="site-header">
      <div class="wrap">
        <hgroup>
          <h1><a href="/">gdad-s-river's blog</a></h1>
        </hgroup>
        <nav role="navigation">
          <ul>
            <li>
              <a href="/" title="gdad-s-river's blog">Home</a>
            </li>

            {% for link in site.links %}
                <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}

          </ul>
        </nav>
      </div>
    </header>
