/**
 * Site header
 */
.site-header {
    /* border-top: 5px solid $grey-color-dark; */
    border-bottom: 1px solid #d0caca;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    border-bottom: 4px solid #79d9f9;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-right: 9%;

    @include media-query($on-palm) {
        margin-right: 0;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid #d0caca;
    padding: $spacing-unit 0;

    @include media-query($on-palm) {
        text-align: center;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 0;
}

.page-heading {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center

    // @include media-query($on-palm) {
    //     text-align: center;
    // }
}

.post-list {
    margin-left: 0;
    list-style-type: none;

    @include media-query($on-palm) {
        text-align: center;
    }

    > li {
        margin-bottom: 0;

        @include media-query($on-palm) {
            padding: 8px 0;
        }


        h2 {
          display: inline-block;
          margin-bottom: 0;
        }
        .trails {
          padding: 0 2%;
          margin-right: 0;
          font-size: 1.3rem;
        }

        .chip-tag {
          position: relative;
          top: -5px;
          height: 25px;
          line-height: 27px;
          padding: 0 12px;
          border: 0;
          border-radius: 16px;
          background-color: #dedede;
          display: inline-block;
          color: rgba(0,0,0,.87);
          margin: 0 0 -5px 7px;
          font-size: 0;
          white-space: nowrap;

          @include media-query($on-laptop) {
            display: block;
            text-align: center;
            margin-bottom: 10px;
          }

          .chip-tag-text {
            font-size: 13px;
            vertical-align: middle;
            display: inline-block;
          }
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    padding-left: 2%;

    @include media-query($on-palm) {
        float: none !important;
        display: block;
        text-align: center;
        margin-right: 0 !important;
    }
}

.post-link {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: #79d9f9;
      visibility: hidden; // http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
      -webkit-transform: scaleX(0); 
      transform: scaleX(0);
      -webkit-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      
    }

    &:hover {

      &:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    
    a {
        text-decoration: inherit;
        border-bottom: 4px solid #79d9f9;
        padding: 5px 5px 0 5px;

        &:hover {
            background-color: #b4e7f8;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

@include media-query($on-palm) {
    .rss-subscribe {
        text-align: center;
    }
}